@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+80s+Fade&family=Sora:wght@100..800&family=Stack+Sans+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Imperial+Script&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Rubik+80s+Fade&family=Sora:wght@100..800&family=Stack+Sans+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Imperial+Script&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+80s+Fade&family=Sora:wght@100..800&family=Stack+Sans+Headline:wght@200..700&display=swap');
@import "tailwindcss";

/* ---------------- THEME ---------------- */
@theme {
  /* FONTS */
  --font-sora: "Sora";
  --font-montserrat: "Montserrat";
  --font-playfair: "Playfair Display";

  /* COLORS */
  --color-one: #FFF3EA; /* White */
  --color-two: #6C6C6C; /* Text Gray */
  --color-towpointone: #D2D2D2; /* Text Gray 1 */
  --color-twopointo: #383838; /* Background Gray */
  --color-three: #0C0C0C; /* Black */
  --color-four: #1254FA; /* Blue */
  --color-five: #FF6A00; /* Orange */
  --color-six: #BE2424; /* Transprant Dark Red */
  --color-seven: #FC0101; /* Red */
}

/* ------------- UTILITIES ------------- */
@utility font-sora {
  font-family: var(--font-sora);
}

@utility font-montserrat {
  font-family: var(--font-montserrat);
}

@utility font-playfair {
  font-family: var(--font-playfair);
}

/* COLOR UTILITIES */
@utility text-one {
  color: var(--color-one);
}

@utility text-two {
  color: var(--color-two);
}

@utility text-three {
  color: var(--color-three);
}

@utility text-five {
  color: var(--color-five);
}

@utility bg-one {
  background-color: var(--color-one);
}

@utility bg-two {
  background-color: var(--color-two);
}

@utility bg-twopointo {
  background-color: var(--color-twopointo);
}

@utility bg-three {
  background-color: var(--color-three);
}

@utility bg-four {
  background-color: var(--color-four);
}

@utility bg-five {
  background-color: var(--color-five);
}

@utility bg-six {
  background-color: var(--color-six);
}

@utility bg-seven {
  background-color: var(--color-seven);
}

/* ------------ GLOBAL STYLES ------------ */
body {
  @apply bg-three;
}

.fit-text {
  font-size: 100vmin;
  line-height: 1;
}

/* src/index.css */

@keyframes blurRoundedSquare {
  0%   { transform: translate(120px, -120px); }   /* top-right */
  15%  { transform: translate(120px, 0px); }       /* right-mid */
  25%  { transform: translate(120px, 120px); }     /* bottom-right */

  40%  { transform: translate(0px, 120px); }       /* bottom-mid */
  50%  { transform: translate(-120px, 120px); }    /* bottom-left */

  65%  { transform: translate(-120px, 0px); }      /* left-mid */
  75%  { transform: translate(-120px, -120px); }   /* top-left */

  90%  { transform: translate(0px, -120px); }      /* top-mid */
  100% { transform: translate(120px, -120px); }    /* loop back */
}


@keyframes rotateGradient {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes nexusPop {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0.9;
  }
}
